html {
  --color-primary: #000;
  --color-secondary: #777;
}

#app {
  font-family: monospace;
  max-width: 600px;
  margin: 2rem auto;
  line-height: 1.75;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

.text-box-description {
  color: var(--color-secondary);
}
